#editcell {
	float:left;
	width:60%;
}
#howitworkspanel {
	float:right;
	width:35%;
	height: 132px;
	overflow: hidden;
}
#howitworksbody {
	maring: 5px;
}
#howitworksimage1, #howitworksimage2 {
	margin-left: auto;
	margin-right: auto;
	width: 240px;
}
#howitworkstoggle {
	width:20px;
	float: right;
}

.com_easystaging_mgr_last_run {
	font-style: italic;
	color: silver;
}

.icon-48-easystaging {
	background-image: url("../media/EasyStaging-48-icon.png");
}

