<?xml version="1.0" encoding="utf-8"?>
<config>

	<fieldset name="settings"
              addfieldpath="/administrator/components/com_easystaging/models/fields"
              label="COM_EASYSTAGING_SETTINGS_GLOBAL_LABEL"
              description="These are global operation settings for EasyStaging Plans." >
		<field name="max_allowed_packet"
               type="text"
               default="1000"
               label="COM_EASYSTAGING_SETTINGS_GLOBAL_MAX_DATA_LABEL"
               description="COM_EASYSTAGING_SETTINGS_GLOBAL_MAX_DATA_DESCR" />
        <field name="status_check_interval"
               type="text"
               label="COM_EASYSTAGING_SETTINGS_GLOBAL_STATUS_CHECK_INTERVAL_LABEL"
               description="COM_EASYSTAGING_SETTINGS_GLOBAL_STATUS_CHECK_INTERVAL_DESCR"
               default="5" />
        <field
                name="spacer1"
                type="spacer"
                hr="true"
                />
        <field name="default_table_action"
               type="EasyStagingAction"
               label="COM_EASYSTAGING_SETTINGS_GLOBAL_DEFAULT_TABLE_ACTION_LABEL"
               description="COM_EASYSTAGING_SETTINGS_GLOBAL_DEFAULT_TABLE_ACTION_DESCR"
               default="0" />
        <field name="default_added_table_action"
               type="EasyStagingAction"
               label="COM_EASYSTAGING_SETTINGS_GLOBAL_ADDED_TABLE_ACTION_LABEL"
               description="COM_EASYSTAGING_SETTINGS_GLOBAL_ADDED_TABLE_ACTION_DESCR"
               default="0" />
	</fieldset>

	<fieldset name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>

		<field name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			validate="rules"
			filter="rules"
			component="com_easystaging"
			section="component" />
	</fieldset>

</config>
