<?xml version="1.0" encoding="utf-8"?>
<config>

	<fieldset name="settings"
              addfieldpath="/administrator/components/com_easystaging/models/fields"
              label="COM_EASYSTAGING_SETTINGS_GLOBAL_LABEL"
              description="These are global operation settings for EasyStaging Plans." >
		<field name="max_allowed_packet"
               type="text"
               default="1000"
               label="COM_EASYSTAGING_SETTINGS_GLOBAL_MAX_DATA_LABEL"
               description="COM_EASYSTAGING_SETTINGS_GLOBAL_MAX_DATA_DESCR" />
        <field name="status_check_interval"
               type="text"
               label="COM_EASYSTAGING_SETTINGS_GLOBAL_STATUS_CHECK_INTERVAL_LABEL"
               description="COM_EASYSTAGING_SETTINGS_GLOBAL_STATUS_CHECK_INTERVAL_DESCR"
               default="5" />
        <field
                name="spacer1"
                type="spacer"
                hr="true"
                />
        <field name="default_table_action"
               type="EasyStagingAction"
               label="COM_EASYSTAGING_SETTINGS_GLOBAL_DEFAULT_TABLE_ACTION_LABEL"
               description="COM_EASYSTAGING_SETTINGS_GLOBAL_DEFAULT_TABLE_ACTION_DESCR"
               default="0" />
        <field name="default_added_table_action"
               type="EasyStagingAction"
               label="COM_EASYSTAGING_SETTINGS_GLOBAL_ADDED_TABLE_ACTION_LABEL"
               description="COM_EASYSTAGING_SETTINGS_GLOBAL_ADDED_TABLE_ACTION_DESCR"
               default="0" />
	</fieldset>

	<fieldset name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>

		<field name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			validate="rules"
			filter="rules"
			component="com_easystaging"
			section="component" />
	</fieldset>

    <fieldset name="advanced"
              label="COM_EASYSTAGING_SETTINGS_GLOBAL_ADVANCED_LABEL"
              description="COM_EASYSTAGING_SETTINGS_GLOBAL_ADVANCED_DESCR" >
        <field name="path_to_php"
               type="text"
               default=""
               placeholder="/usr/bin/php"
               label="COM_EASYSTAGING_SETTINGS_GLOBAL_PATH_TO_PHP_LABEL"
               description="COM_EASYSTAGING_SETTINGS_GLOBAL_PATH_TO_PHP_DESCR" />
        <field name="php_quiet"
        	type="radio"
            class="btn-group btn-group-yesno"
        	label="COM_EASYSTAGING_SETTINGS_GLOBAL_PHP_QUIET_LABEL"
        	description="COM_EASYSTAGING_SETTINGS_GLOBAL_PHP_QUIET_DESC"
        >
        	<option value="1">JYES</option>
         	<option value="0">JNO</option>
         </field>
        <field name="php_file"
        	label="COM_EASYSTAGING_SETTINGS_GLOBAL_PHP_FILE_LABEL"
        	description="COM_EASYSTAGING_SETTINGS_GLOBAL_PHP_FILE_DESC"
        	type="radio"
            class="btn-group btn-group-yesno"
        >
        	<option value="1">JYES</option>
         	<option value="0">JNO</option>
         </field>
        <field name="php_out_captured"
               label="COM_EASYSTAGING_SETTINGS_GLOBAL_PHP_OUT_CAPTURED_LABEL"
               description="COM_EASYSTAGING_SETTINGS_GLOBAL_PHP_OUT_CAPTURED_DESC"
               type="radio"
               class="btn-group btn-group-yesno"
                >
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field
        		name="run_script_with"
        		type="list"
        		label="COM_EASYSTAGING_SETTINGS_GLOBAL_RUN_SCRIPT_WITH_LABEL"
        		description="COM_EASYSTAGING_SETTINGS_GLOBAL_RUN_SCRIPT_WITH_DESC"
        		default="AT"
			>
				<option value="AT">COM_EASYSTAGING_SETTINGS_GLOBAL_RUN_SCRIPT_WITH_AT</option>
				<option value="DIRECT">COM_EASYSTAGING_SETTINGS_GLOBAL_RUN_SCRIPT_DIRECT</option>
		</field>
        <field name="background_timeout"
               type="text"
               default="2"
               label="COM_EASYSTAGING_SETTINGS_GLOBAL_BACKGROUND_TIMEOUT_LABEL"
               description="COM_EASYSTAGING_SETTINGS_GLOBAL_BACKGROUND_TIMEOUT_DESCR" />
        <field name="port_to_test_remotedb"
               type="text"
               default="3306"
               label="COM_EASYSTAGING_SETTINGS_GLOBAL_REMOTE_DB_PORT_LABEL"
               description="COM_EASYSTAGING_SETTINGS_GLOBAL_REMOTE_DB_PORT_DESCR" />
        <field name="port_to_test_remote_host"
               type="text"
               default="80"
               label="COM_EASYSTAGING_SETTINGS_GLOBAL_REMOTE_HOST_PORT_LABEL"
               description="COM_EASYSTAGING_SETTINGS_GLOBAL_REMOTE_HOST_PORT_DESCR" />
        <field name="timeout_for_connection_tests"
               type="text"
               default="3"
               label="COM_EASYSTAGING_SETTINGS_GLOBAL_TIMEOUT_LABEL"
               description="COM_EASYSTAGING_SETTINGS_GLOBAL_TIMEOUT_DESCR" />
    </fieldset>

</config>
