#editcell {
    float: left;
    width: 60%;
}

#howitworkspanel {
    float: right;
    width: 35%;
    height: 142px;
    overflow: hidden;
}

#howitworksbody {
    maring: 5px;
}

#howitworksimage1, #howitworksimage2 {
    margin-left: auto;
    margin-right: auto;
    width: 240px;
}

#howitworkstoggle {
    width: 20px;
    float: right;
}

#es_version {
    width: 100%;
}

#es_version p {
    text-align: center;
    font-size: 0.9em;
    font-style: italic;
    color: silver;
}

span.com_easystaging_mgr_last_modified {
    font-size: 0.9em;
    color: silver;
    display: block;
    float: right;
}

span.com_easystaging_mgr_last_modified em {

}

span.com_easystaging_mgr_created_by {
    font-size: 0.9em;
    color: silver;
}

.com_easystaging_mgr_last_run {
    font-style: italic;
    color: silver;
    display: block;
    float: left;
}

.icon-48-easystaging {
    background-image: url("../images/EasyStaging-48-icon.png");
}

.icon-easystaging:before {
    content: "\e001";
    color: #92f589;
}

